/* Global Styling */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Ubuntu', sans-serif !important
}
html{
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 1.094rem;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
section{
    padding: 5rem 0;
}
/* body{
    background-color: #133D51;
} */
.margin-16{
    margin-top: 16px;
}
/* header */
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
nav{
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
}
.nav-brand{
    width: 8.5rem;
}
.nav-bar{
    width: 100%;
    max-width: 119rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}
.closed i{
    color: #eb648c;
    cursor: pointer;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background: #f9f9f9;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}
.nav-list.active{
    right: 0;
}
.closed{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
.nav-items{
    margin: 1.5rem 0;
    cursor: pointer;
}
.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0,0,0,.7) !important;
}
.logo{
    background: url("images/mayfair_logo.png") no-repeat;
    width: 15rem;
    height: 4rem;
    background-size: contain;
}
.hero{
    width: 100%;
    height: 80vh;
    background: url("images/main_banner.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.3rem;
    background-size: cover;
}
.main-message{
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    transform: translateY(20%);
}
.main-message h3{
    font-size: 1.6rem;
}
.main-message h1{
    font-size: 5.156rem;
    margin: 1rem 0;
}
.main-blog h1{
    font-size: 5.156rem;
    margin: 5rem 0;
    color: white;
}
.main-message p{
    font-size: 1.688rem;
    line-height: 2.2rem;
    text-transform: initial;
}

.btn{
    background-color: #ffffff;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}
.banner-btn{
    color: #294c85 !important;
    font-size: 1.623rem !important;
    background: #ffffff;
    font-weight: 500 !important;
    padding: 1.2rem 2rem !important;
}
.btn:hover{
    background-color: #fafafa;
    color: #294c858f !important;
}
.partners{
    background-color: #ffffff;
    /* height: 28vh; */
}
.partners-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}
.partner-grid-item{
     /* height: 40rem; */
    padding: 1rem 0;
    color: #fafafa; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
}
.services{
    padding: 0;
    background-color: #f2f2f2;
    }
    .title-heading{
        text-align: center;
        padding: 6rem 0 1rem 0;
    }
    .title-heading h1{
        font-size: 3.125rem;
        margin: 0;
        color: #454545;
    }
    .title-heading p{
        color: #727272;
        font-size: 1.381rem;
    }
/* .partner-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(16, 31, 94, 0.9) 0%, rgba(72,56,149,0.8) 100%);
    z-index: -1;
} */
.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4.5rem;
}
.service-grid-item{
    height: 32.75rem;
    padding: 16px;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
    top: 5rem;
}
.service-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 9px 13px #0000002b;
    background: #ffffff;
    z-index: -1;
    border-radius: 5px;
}
.sd{
    background: url("images/sd.png")  no-repeat;
    height: 13.313rem;
    width: 13.313rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.si{
    background: url("images/si.png")  no-repeat;
    height: 13.313rem;
    width: 13.313rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;

}
.cs{
    background: url("images/it_cs.png")  no-repeat;
    height: 13.313rem;
    width: 13.313rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;

}
.service-grid-item h1{
    font-size: 1.875rem;
    margin: 2rem 0;
    color: #454545;
    font-weight: bold;
}
.service-grid-item p{
    font-size: 1.681rem;
    margin: .5rem 0;
    color: #747474;
}
.help{
    background-color: #0F3065;
    border-radius: 4px;
    color: #ffffff !important;
    display: inline-block;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.364rem;
    padding: 1.7rem 2.8rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}
.help-pos{
    text-align: center;
    margin-top: 10rem;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin-bottom: 3rem;
    padding-top: 6rem;
    align-items: center;
}
.product-image{
    background: url(images/products.png) center no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
}
.product-grid-item{
    height: 52rem;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
    top: 5rem;
}
.product-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
}
.product-variety-grid-item{
    height: 9rem;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
    top: 0;
    right: 3.5rem;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    text-align: center;
}
.product-variety-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: -1;
}
.testimonials{
    padding: 0;
    width: 100%;
    height: 75vh;
    background:  url(images/main_banner.jpg)  center no-repeat fixed;
    background-size: cover;
    position: relative;
    }
    .test-heading{
        text-align: center;
        text-transform: initial;
        margin-bottom: 3rem;
        color: rgb(255, 255, 255);
        padding: 3rem 0;
    }

    .test-heading h1{
        font-size: 3rem;
        margin: .5rem 0 1rem;
        font-weight: 400;
    }
    .testimonial{
        width: 100%;
        color: #fafafa;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .testimonial-text-box{
        padding: 0 1.5rem;
        margin-bottom: 2rem;
        position: relative;
    }
    .testimonial-customer img{
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        border: 3px solid #ffffff;
        background: azure;
    }

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: 0%;
    color: white;
}
#quote-carousel .carousel-control.right {
    right: 0%;
    color: white;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 6px solid transparent;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
    background: #ccc;
}
#quote-carousel .carousel-indicators .active {
    background: #ccc;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #ffffff;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 30px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.coke{
    color: #ffffff;
}
.blog-heading{
    text-align: center;
    text-transform: initial;
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
    padding: 3rem 0;
}

.blog-heading h1{
    font-size: 3rem;
    margin: .5rem 0 1rem;
    font-weight: 400;
    color: black;
}
.blogs-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
    margin-bottom: 4rem;
}
.blog-grid-item{
    height: 38.438rem;
    padding: 1rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
    top: 0rem;
}
.blog-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 13px #0000001a;
    background: #ffffff;
    z-index: -1;
    border-radius: 5px;
}
.bl{
    background: url(images/sample_blog_image.jpg) center no-repeat;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    position: relative;
    bottom: 5rem;
}
/* .bl{
    background: url("images/sample_blog_image.jpg") center no-repeat;
    height: 100%;
    border-radius: 5px;
}
.bl{
    background: url("images/sample_blog_image.jpg") center no-repeat;
    height: 100%;
    border-radius: 5px;
} */
.blog-grid-item h1{
    font-size: 1.784rem;
    text-transform: capitalize;
    color: #0F3065;
    font-weight: bold;
    margin: 0rem;
}
.blog-grid-item p{
    font-size: 1.589rem;
    margin: .5rem 0;
    color: #747474;
}
.date-btn{
    background: #0F3065;
    padding: 1rem 3.5rem;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 19px 24px #00000014;
    color: #ffffff;
    border: 1px solid;
}
.but-cover{
    display: -webkit-inline-box;
    margin: 2.5rem 0;
}
.contact-heading{
    text-align: center;
    text-transform: initial;
    color: rgb(255, 255, 255);
    padding: 3rem 0;
}

.contact-heading h1{
    font-size: 3rem;
    margin: .5rem 0 1rem;
    font-weight: 400;
    color: black;
}
.contact-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
    margin-bottom: 4rem;
}
.conact-grid-item{
    height: 38.438rem;
    padding: 1rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
    top: 0rem;
}
.contact-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0px 0px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    background: #ffffff;
    z-index: -1;
    border-radius: 5px;
}
.row-pad{
    margin-top: 2rem;
}
.contact-fluid{
    background: #ECECEC !important;
    border: 0rem solid !important;
    padding: 3rem 1rem !important;
    border-radius: 5px !important;
    font-size: 19.58px !important;
}

textarea{
    resize: none;
}
.send-btn{
    background: #0F3065;
    padding: 1rem 3.5rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 19px 24px #00000014;
    color: #ffffff;
    border: 1px solid;
    font-size: 21.8px;
    font-weight: 600;
}
.contact{
    background: #F7F7F7;
}
.foot{
 background: linear-gradient(130deg, #0F3065 0%, #0D56CC 100%);
}
.foot-life{
    margin: 2rem 0;
    color: white;
}
.footer-bottom{
    bottom: 0;
    width: 100%;
    background: #0C377B;
    color: #ffffff;
    padding: 1rem 0;
}

.nav-lists li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-lists li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-lists li a:before {
    width: 25rem;
    top: 0;
    right: -26rem;
    flex-direction: column;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}
.nav-lists{
    text-decoration: none;
    color: #ffffff;
}
a{
    text-decoration: none !important;
    color: #ffffff !important;
   
}
a:hover{
    text-decoration: none !important;
    color: white !important;
}
.space-contact {
    padding: 2rem 15px;
}

/* media queries  */
@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(40%);
    }

    /* blog */
    .blog-main-messages{
        transform: translateY(1%);
    }
    .space-vmc{
        padding-left: 1rem;
    }
}
@media screen and (min-width: 470px){
    .hero::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }
    .testimonials::before{
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png");
        background-size: cover;
    }
    .fixed {
        position: fixed;
        max-width: 100%;
        background: #ffffff;
        padding: 2rem 23.5rem !important;
        box-shadow: 0 3px 18px 0 rgba(32, 33, 36, 0.27);
      }
}

@media screen and (min-width: 700px){
   .header{
       height: 8rem;
   }
   .nav-brand{
       width: 9.5rem;
   }
   .nav-list{
       width: initial;
       height: initial;
       background-color: transparent;
       position: initial;
       top: initial;
       left: initial;
       flex-direction: row;
       transition: initial;
   }
   .menu-icons{
       display: none;
   }
   .nav-items{
       margin: 0 2.5rem;
   }
   .nav-link, .current{
    color: #fafafa !important;
    position: relative;
    font-size: 1.281rem;
   }
    .nav-link::before,
   .current::before{
       content: "";
       position: absolute;
       left: 0;
       bottom: -0.5rem;
       background: #ffffff;
       width: 100%;
       height: 2px;
       transform: scaleX(0);
       transform-origin: left;
       transition: transform 650ms;
   } 
   .current::before{
       transform: scaleX(1);
   }

   .nav-link:hover::before{
       transform: scaleX(1);
   }

   .hero{
       height: 75vh;
   }
   .blog-main-message{
       transform: translateY(40%);
        width: 100%;
        max-width: 75rem;
        color: #fafafa;
   }

   .title-heading h1{
       font-size: 2.5rem;
   }
   .fixed {
    position: fixed;
    max-width: 100%;
    background: #ffffff;
    padding: 2rem 1.5rem !important;
    box-shadow: 0 3px 18px 0 rgba(32, 33, 36, 0.27);
  }
  .space-contact {
    padding: 0rem 0px;
}

/* Blog  */

.blog-hero {
    width: 100%;
    height: 45vh;
    background: url("images/main_banner.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.blog-hero-1 {
    width: 100%;
    height: 30vh;
    background: url("images/main_banner.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.main-blog h1{
    font-size: 5rem;
    margin: 14.5rem 0 1rem;
    font-weight: 400;
    color: white;
}

}


/* Blog */
.about{
    background-color: #ffffff;
    /* background: url(images/Ellipse\ back-drop.svg) no-repeat; */
    background-position-y: bottom;
   padding: 12rem 0;
}
.about-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}
.about-grid-item{
     /* height: 40rem; */
    padding: 1rem 0;
    color: #fafafa; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
}
.team-pic{
    background: url("images/team-pic.png") center no-repeat;
    height: 43rem;
}
.elip-blog{
    z-index: 0;
    position: absolute;
    width: 20rem;
    top: 76rem;
    height: 20rem;
    left: -2rem;
}
.about-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
}
.about-grid-item p{
    color: #747474;
    font-size: 1.65rem;
    line-height: 1.7;
    font-weight: 400;
}
.flag-logo{
    width: 2rem;
}
.founded{
    color: #0F326B;
    font-size: 1.743rem;
    font-weight: 500;
    padding-left: 1rem;
}
.flag{
    border: 1px solid #D6D6D6;
    padding: 1rem;
    border-radius: 5px;
}
.employ-num{
    font-size: 4.566rem;
    color: #454545;
    text-align: center;
}
.status-company{
    display: flex;
    position: relative;
    top: 10rem;
}
.vmc{
    background: #F7F7F7;
    padding: 1rem 0;
}
.blog-list{
    width: inherit;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    left: 0;
    flex-direction: row;
    transition: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    right: 0;
}
.blog-link{
    position: relative;
    font-size: 1.281rem;
    color: #C1C1C1 !important;
    font-size: 2.249rem;
}
.blog-list .now{
    color: #454545 !important;
}
.da{
    background: url("images/diag-arrow.svg")  no-repeat;
    height: 13.313rem;
    width: 13.313rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;

}
.team{
    background: #ffffff;
}
.vmc-grid-item{
    height: 32.75rem;
    padding: 16px;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 0;
    top: 10rem;
}
.vmc-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 9px 13px #0000002b;
    background: #ffffff;
    z-index: -1;
    border-radius: 5px;
}
.vmc-grid-item p{
    font-size: 1.681rem;
    margin: .5rem 0;
    color: #747474;
}
.team-heading{
    text-align: center;
    padding: 6rem 0 1rem 0;
}
.team-heading h1{
    font-size: 3.125rem;
    margin: 0;
    color: #454545;
}
.team-heading p{
    color: #727272;
    font-size: 1.381rem;
}
.vmc-pos{
    position: relative;
    top: 6rem;

}
.team-row{
    width: 100%;
    display: flex;
}
.team-col{
    width: 20%;
    display: inline-block;
    border: 1px solid transparent;
    flex: 1;
    text-align: center;
    padding: 5rem 0rem;
    color: #ffffff;
    font-size: 1.74rem;
    font-weight: 500;
}
.team-b{
    background: #0F326B;
}
.team-a{
    background: #E6EAF0;
}
.team-col p{
    color: #CFD6E1;
}
.team-cat{
    margin: 5rem 0;
}